*.js
*.js.map
*.log
!scripts/*.js
demo-ng/app/*.js
!demo-ng/karma.conf.js
!demo-ng/app/tests/*.js
demo-ng/*.d.ts
!demo-ng/references.d.ts
demo-ng/lib
demo-ng/platforms
demo-ng/node_modules
node_modules
.idea
*.iml
.vscode