<ActionBar title="nativescript-bottombar" class="action-bar">
</ActionBar>
<GridLayout rows="*, auto">
    <StackLayout orientation="vertical">
        <Button class="btn btn-primary" text="Hide BottomBar" (tap)="hideBottombar()"></Button>
        <Button class="btn btn-primary" text="Show BottomBar" (tap)="showBottombar()"></Button>
        <Button class="btn btn-primary" text="Select first item" (tap)="selectItem()"></Button>
        <Button class="btn btn-primary" text="Log current index" (tap)="getCurrentIndex()"></Button>
    </StackLayout>
    <BottomBar row="1" [items]="items" [hide]="hidden" [titleState]="titleState" (loaded)="tabLoaded($event)" (tabSelected)="tabSelected($event)" [inactiveColor]="inactiveColor" [accentColor]="accentColor" colored="true"></BottomBar>
</GridLayout>





