<ActionBar title="nativescript-bottombar" class="action-bar">
</ActionBar>
<GridLayout rows="*, auto">
    <StackLayout orientation="vertical">
        <Button class="btn btn-primary" text="Hide BottomBar" (tap)="hideBottombar()"></Button>
        <Button class="btn btn-primary" text="Show BottomBar" (tap)="showBottombar()"></Button>
        <Button class="btn btn-primary" text="Change icon of current tab" (tap)="changeIcon()"></Button>
        <Button class="btn btn-primary" text="Change color of current tab" (tap)="changeColor()"></Button>
        <Button class="btn btn-primary" text="Change title of current tab" (tap)="changeTitle()"></Button>
    </StackLayout>
    
    <BottomBar #bar row="1" [items]="items" (tabSelected)="tabSelected($event)" [hide]="hidden"></BottomBar>
</GridLayout>